$maxScreen: 800px;

body {
  // Picture of cartoon brownies
  background-image: url("http://static.vecteezy.com/system/resources/previews/000/101/295/original/brownie-vectors.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a {
  text-decoration: none;
  color: #555;
  
  &:hover {
    text-decoration: none;
  }
}

img {
  width: 32px;
  margin: 10px 0 10px 0;
  
  // Decreases margins to allow for less scrolling on smaller screens
  @media screen and (max-width: $maxScreen) {
    // visibility: hidden;
    // width: 24px;
    margin: 5px 0 5px 0;
  }
}

.username {
  // Keeps username inline with avatar
  display: inline;
  margin: 0 0 0 10px;
}

.positionClass {
  text-align: right;
  // padding: 5px;
}

.pointsClass {
  text-align: center;
}

// Mobile navbar only to be shown on small screens
#mobileNav {
  visibility: hidden;
  
  @media screen and (max-width: $maxScreen) {
    visibility: visible;
    background: purple;
    color: white;
    // Padding to center text vertically
    padding-top: 15px;
    box-shadow: 0 1px 2px #777;
  }
}

#mainTable {
  $borderRadius: 5px;
  
  // Gives purple glow to table
  box-shadow: 0 1px 5px purple;
  border-radius: $borderRadius $borderRadius 0 0;
  
  background: purple;
  opacity: .9;
  
  // Gives offset for main view and mobile view
  margin: 50px auto 50px auto;
  
  transition: all 2s ease;
  
  // Keeps leader small if screen is large
  @media screen and (min-width: 1080px) {
    width: 450px;
  }
  
  // Stretches table out to fullscreen on small screens
  @media screen and (max-width: $maxScreen) {
    width: 100%;
  }
  
  // Alternates colors
  tbody {
    tr:nth-child(even) {
      background-color: white;
    }
    tr:nth-child(odd) {
      background-color: #ededed;
    }
  }
  
  // Data for table headers (cells)
  th {
    background: purple;
    color: white;
    padding: 5px;

    // Gives roundness to top corner cells
    &#leftCorner {
      border-radius: $borderRadius 0 0 0;
    }
    &#rightCorner {
      border-radius: 0 $borderRadius 0 0;
    }
  }
}

tr#headers {
  // Removes weird background from messing up shadows
  background: none;
  
  // Hides header row when on mobile / small screen
  @media screen and (max-width: $maxScreen) {
    position: fixed;
    top: 0;
    visibility: hidden;
  }
}